<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClothifyLDCE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTypeController</display-name>
    <servlet-name>ProductTypeController</servlet-name>
    <servlet-class>com.controller.ProductTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTypeController</servlet-name>
    <url-pattern>/ProductTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductGenderController</display-name>
    <servlet-name>ProductGenderController</servlet-name>
    <servlet-class>com.controller.ProductGenderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductGenderController</servlet-name>
    <url-pattern>/ProductGenderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>com.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>com.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>com.controller.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/RemoveFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchController</display-name>
    <servlet-name>ProductSearchController</servlet-name>
    <servlet-class>com.controller.ProductSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchController</servlet-name>
    <url-pattern>/ProductSearchController</url-pattern>
  </servlet-mapping>
</web-app>